<div class="reporting-form">
 <%= link_to image_tag("ririkusu-logo.png", class: "ririkusu-icon-new"), "/" %>
  <h2 class="border">メッセージ送信完了</h2>
  <p>
    <span style="line-height:110%">メッセージをいただきありがとうございました。<br> </span><br>
    
    <span style="line-height:200%">返信は3日以内にお送りさせていただきますので、メール受信ボックスのご確認をよろしくお願いいたします。<br></span><br>
   
    リリクスはお客様の声にお応えし、今後とも改善に努めていきます。引き続き当サイトをお楽しみくださいませ。
  </p>
</div>
   