.reporting-form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.report-name{
padding: 10px 70px;
margin:10px;
text-align: center;
}
.report-contents{
  padding: 50px 70px;
  margin:10px;
  text-align: center;
}

.margin-10px{
  margin:10px;
}
.confirm_btn{
  padding:8px 10px;
  
}


h2{
  border-top: solid 3px skyblue;
  position: relative;
  width:100%;
  
}

.report-back-btn{
  padding:0px 15px;
  margin-top:5px;
}