.main{
  width:100%;
  height:70%;
  background: #f8f8f8;
}
.song-lists{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.song-list{
  list-style:none;
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
.show_link{
  text-decoration: none;
}
.item-img {
  width: 33vh;
  height: 33vh;
}
.song-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-color: #FFF;
}