/* border-bottom: 1px solid #eee; */
.ririkusu-icon-new {
  width: 10vw;
  width:210px;
}

.songs-main-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.songs-main-header {
  padding: 5vh 0;
  text-align: center;
}

.songs-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.songs-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

/* /共通 */

/* 出品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 30px 15px 0px;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}
.preview-image{
  height: 150px;
  width: 150px;
  object-fit: contain;
}

/* /出品画像 */

/* 商品名と商品説明 */

.songs-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.songs-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.songs-detail {
  padding: 5vh 0;
}


.genre-select {
  margin: 2vh 0;
  padding:5px 13px;
}

/* /商品の詳細など */


/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.submit-btn-contents {
  width: 100%;
  text-align: center;
}

.submit-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* 下部ボタン */


.preview-image{
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-top:10px;
}


/* リリース日 */
.input-sales-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-sales-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 35px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-sales-wrap>p {
  line-height: 60px;
  padding: 0 5px;
}