.bg-mask{
  background-color: rgba(0, 0, 0, 0.7);
  height:280px;
}
.background{
  background-repeat: no-repeat; 
  background-size: cover;
}
.song_img {
  width: 33vh;
  height: 33vh;
  object-fit: cover;
  margin-top: 40px;
  margin-left: 20px;
}
.song_contents{
  display: flex;
}

.song_names{
  margin-top:60px;
  margin-left: 30px;
}
.half{
  display:flex;
  background:rgba(237, 237, 245, 0.1);
}
.annotation_space{
  width:60%;
  padding-top:55px;
  margin: 0px 25px;
}
.song_text{
  width:50%;
  padding:10px 70px;
}

/*注釈*/

.annotation_img {
  width: 33vh;
  height: 33vh;
  object-fit: cover;
  margin-left: 20px;
}
.font-size{
  font-size:14px;
  color:rgb(50, 50, 52);
}
.plum{
color:plum;
font-size:20px;
}

.annotation-title{
  margin-top:10px;
  color:rgba(227, 38, 237, 0.8);
}

.annotation-margin{
  margin-top:10px;
  color:rgb(34, 34, 35);
  padding-right:50px;
  font-size:15px;
}

.song_translate{
  padding:10px 120px 30px 120px;
  background:rgba(237, 237, 245, 0.1);
}
.song_translate p{
  margin-left:460px;
  color:plum;
  font-size:20px;
}
.youtube{
  margin-left: 400px;
  margin-top:60px;
}
.art_sorrounded_text{
  margin-bottom:10px;
  font-size:15px;
  font-weight: bolder;
  margin-right:15px;
  opacity:0.7;
  color:lightgray;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}
.sorrounding_color{
  color:skyblue
}
.song_name_text{
  font-size:28px;
  color:plum;
  margin-bottom: 1px;
  font-weight: bolder;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.art_name_text{
  font-size:20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  margin-bottom: 4px;
}

.flex{
display: flex;
}
.sorround_ppl{
  color:purple;
  opacity:0.8;
  font-weight: bolder;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.producer_show{
  opacity:0.8;
  font-weight: bolder;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.producer_show :hover{
 color:whitesmoke;
}
.annotation-btn {
  width: 150px;
  background: #3ccace;
  text-align: center;
  border-radius: 10%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 20px 10px;
}

.art_name_text :hover{
  color:whitesmoke;
}


.annotation-btn-text {
  color: #fff;
  display: block;
  text-decoration: none;
}
.hover-annotation{
  color: #fff;
  opacity:0.9;
}

.hover-annotation:hover{
  color: #fff;
  opacity: 1;
}

.addannotation{
  font-size: 1.5em 
}
/*コメント*/

.comments {
  padding: 5px;
  margin-top: 15px;
}
.comments a {
  color: #57C3E9;
  text-decoration:none;
}
.comment-box {
  width: 40vw;
  background-color: #fff;
  text-align: center;
  margin:auto;
  padding-top:50px;
}

.comment-text {
  width: 100%;
  height: 130px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: center;
}

.comment-btn {
  line-height: 48px;
  background-color: plum;
  border: 1px solid plum;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
  cursor: pointer;
  margin-top:30px;
  text-align: center;
}
.hover :hover{
  opacity:0.9;
}
.lyric-edit-btn{
  text-decoration: none;
  background-color: plum;
  color: #fff;
  padding:12px;
  border-radius: 10px;
  line-height: 40px;
  min-width: 100px;
  font-size: 15px;
  margin-left:3px;
}
.report-song{
  text-decoration: none;
  background-color: plum;
  color: #fff;
  padding:12px 20px;
  border-radius: 10px;
  line-height: 40px;
  min-width: 100px;
  font-size: 15px;
  margin-left:10px;
}
.twitter-share-button{
  margin-left:12px;
}
.flex{
  display:flex;
}

.trash-icon{
  color:skyblue;
  margin:0 3px 0 5px;
}

.thum-icon{
  color:rgb(250, 173, 57);
  margin:0 3px 0 25px;
}